* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* text-font  */

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shered styles */
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.orange {
  color: #e95a08;
}
.dark-2 {
  color: rgba(0, 0, 0, 0.5);
}

.btn-primary{
  color: white;
  background-color: #e95a08;
  border: none;
  width:100%;
  font-weight: 600;
  padding: 16px 0px;
}








/* body-section-styles */
body {
  background-color: #f5f8ff;
}

/* navbar section */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 120px;
}
.nav-items {
  display: flex;
  gap: 48px;
  align-items: center;
}
.nav-item {
  list-style: none;
}
.nav-links-home,
.nav-links-shop,
.nav-links-about,
.nav-links-cart {
  text-decoration: none;
}
.nav-links-home {
  color: #252432;
  font-weight: 600;
}
.nav-links-shop,
.nav-links-about {
  color: #8987a1;
}
.nav-links-cart {
  color: black;
}

/* banner-section styles */
.banner {
  display: flex;
  align-items: end;
  padding-top: 80px;
}

.banner-title,
.banner-title-2 {
  font-size: 4rem;
  font-weight: 700;
}
.banner-discription {
  font-size: 1.4rem;
}

/* Plants section styles */
.plants{
  margin-top: 112px;
}
.plants-section-title{
  font-size: 3.1rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 16px;
}
.plants-discription{
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 50px;
  padding: 0 124px;
}

/* plants card section styles */
.flower-name{
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  margin-top:25px;
  margin-bottom: 15px;
}
.flower-price{
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}
.flower-cards{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  row-gap: 30px;
  column-gap: 20px;
}





















@media screen and (max-width: 576px) {
  .nav-links-home,
  .nav-links-about,
  .nav-links-shop {
    display: none;
  }
  .banner {
    flex-direction: column-reverse;
  }
  .banner-image {
    width: 100%;
    margin-bottom: 28px;
  }
  .navbar {
    margin: 0 16px;
  }
  .banner-content {
    margin: 0px 16px;
  }
  .banner-title,
  .banner-title-2,.plants-section-title {
    font-size: 1.8rem;
  }
  .banner-title-2 {
    margin-bottom: 13px;
  }
  .banner-discription {
    font-size: 14px;
  }
  .flower-card-img{
    width:100%;
    
  }
  .btn-primary{
    width:100%;
  }
  .flower-cards{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin: 0 16px;
  
}
.plants-discription{
  padding: 0 16px;
  font-size: 14px;
}

}
