* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* text-font  */

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shered styles */
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.orange {
  color: #e95a08;
}
.dark-2 {
  color: rgba(0, 0, 0, 0.5);
}

.btn-primary {
  color: white;
  background-color: #e95a08;
  border: none;
  width: 100%;
  font-weight: 600;
  padding: 16px 0px;
}
.btn-primary:hover {
  background-color: #70d6c5;
  color: #3d5387;
  transition: all 1s;
  transform: scale(1.1);
  border-radius: 7px;
}

/* body-section-styles */
body {
  background-color: #f5f8ff;
}

/* navbar section */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 120px;
}
.nav-items {
  display: flex;
  gap: 48px;
  align-items: center;
}
.nav-item {
  list-style: none;
}
.nav-links-home,
.nav-links-shop,
.nav-links-about,
.nav-links-cart {
  text-decoration: none;
}
.nav-links-home {
  color: #252432;
  font-weight: 600;
}
.nav-links-shop,
.nav-links-about {
  color: #8987a1;
}
.nav-links-cart {
  color: black;
}

/* banner-section styles */
.banner {
  display: flex;
  align-items: end;
  padding-top: 80px;
}

.banner-title,
.banner-title-2 {
  font-size: 4rem;
  font-weight: 700;
}
.banner-discription {
  font-size: 1.4rem;
}

/* Plants section styles */
.plants {
  margin-top: 112px;
}
.plants-section-title {
  font-size: 3.1rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 16px;
}
.plants-discription {
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 50px;
  padding: 0 124px;
}

/* plants card section styles */
.flower-name {
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
}
.flower-price {
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}
.flower-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 30px;
  column-gap: 20px;
}

/* Plants Lover section styles */
.plants-lover {
  display: flex;
  margin-top: 200px;
  gap: 60px;
  align-items: flex-end;
}
.trust-badge {
  width: 280px;
  height: 280px;
  position: absolute;
  top: -150px;
  left: 385px;
  animation-name: spin;
  animation-duration: 9s;
  animation-iteration-count: infinite;
}
.plants-lover-title {
  font-size: 3.1rem;
  font-weight: 700;
  margin-bottom: 30px;
}
.plants-lover-left-content {
  position: relative;
}
.plants-lover-right-content ul li {
  font-size: 1.4rem;
  margin-bottom: 30px;
}
.plants-lover-right-content {
  padding: 0 20px;
}

/* lastest deals section styles */
.deals {
  margin-top: 133px;
  margin-bottom: 120px;
}
.deals-card-section {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.deals-left-content {
  display: grid;
  grid-template-rows: repeat(2.1fr);
  row-gap: 25px;
  justify-content: center;
  align-items: center;
}
.deals-section-discription {
  font-size: 1.4rem;
  text-align: center;
  margin-top: 16px;
  padding: 0 100px;
}
.deals-section-title {
  font-size: 3.1rem;
  font-weight: 700;
  text-align: center;
}
.bloom-plant {
  background: rgba(0, 0, 0, 0.4) url("../assets/deal-bloom.png");
  background-repeat: no-repeat;
  background-blend-mode: darken;
  padding: 65px 50px;
  border-radius: 22px;
  max-width: 361px;
  height: 200px;
}
.ana-plant {
  background: rgba(0, 0, 0, 0.4) url("../assets/deal-ana.png");
  background-repeat: no-repeat;
  background-blend-mode: darken;
  padding: 65px 50px;
  border-radius: 22px;
  width: 361px;
  height: 200px;
}
.zabo-plant {
  background: rgba(0, 0, 0, 0.4) url("../assets/deal-zabo.png");
  background-repeat: no-repeat;
  background-blend-mode: darken;
  border-radius: 22px;
  padding: 172px 128px 151px 128px;
  width: 750px;
  height: 423px;
}

.offer {
  font-size: 1.3rem;
  font-weight: 700;
  color: white;
  text-align: center;
}
.shop-now {
  font-weight: 600;
  color: white;
  text-align: center;
}
.offer-right {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  text-align: center;
}
.shop-now-right {
  font-size: 1.8rem;
  font-weight: 600;
  color: white;
  text-align: center;
}
.bloom-plant,
.ana-plant,
.zabo-plant {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
/* Join section styles */
.input-banner-section {
  margin-bottom: 100px;
}
.input-banner {
  background-image: url("../assets/news-letter-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
}
.input-banner-title {
  align-items: center;
  text-align: center;
  padding-top: 200px;
  font-size: 50px;
  font-weight: 700;
  color: white;
}
.input-form {
  text-align: center;
  padding-top: 50px;
  display: flex;
  justify-content: center;
}
.input-email {
  background-color: white;
  color: #252432;
  font-weight: 700;
  padding: 26px 50px 26px 50px;
  width: 40%;
  border: none;
}
.join-button {
  background-color: #e95a08;
  color: white;
  font-weight: 700;
  padding: 26px 50px 26px 50px;
  width: auto;
  border: none;
}

/* footer section styles */
.footer {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 50px;
}
.footer-left-title {
  font-size: 1.4rem;
  margin-top: 20px;
}
.left-side-link {
  text-decoration: none;
  color: #6b7280;
  font-size: 1.1rem;
}
.right-side-links,
.left-side-links {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
.social-links {
  display: flex;
  column-gap: 30px;
}
.ttt-w {
  width: 35px;
  height: 35px;
}

/* animition */
@keyframes spin {
  0% {
  }
  100% {
    transform: rotate(360deg);
  }
}

/* mobile responsive */
@media screen and (max-width: 576px) {
  .nav-links-home,
  .nav-links-about,
  .nav-links-shop,
  .trust-badge {
    display: none;
  }
  .banner {
    flex-direction: column-reverse;
  }
  .banner-image {
    width: 100%;
    margin-bottom: 28px;
  }
  .navbar,
  .banner-content {
    margin: 0 16px;
  }
  .banner-title,
  .banner-title-2,
  .plants-section-title,
  .plants-lover-title,
  .deals-section-title {
    font-size: 1.8rem;
  }
  .banner-title-2 {
    margin-bottom: 13px;
  }
  .banner-discription,
  .plants-lover-right-content ul li,
  .deals-section-discription,
  .footer-left-title {
    font-size: 14px;
  }
  .plants-lover-right-content ul li {
    margin-bottom: 20px;
  }
  .flower-card-img {
    width: 100%;
  }
  .btn-primary {
    width: 100%;
  }
  .flower-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 16px;
  }
  .plants-discription {
    padding: 0 16px;
    font-size: 14px;
  }
  .plants-lover-image {
    width: 100%;
    margin-top: 40px;
  }
  .plants-lover {
    flex-direction: column;
    margin: 0 16px;
    align-items: flex-start;
  }
  .plants-lover-title {
    text-align: left;
  }
  .deals-card-section {
    margin-top: 120px;
    flex-direction: column;
  }
  .deals-section-discription {
    padding: 0;
  }
  .zabo-plant,
  .ana-plant {
    width: 340px;
    height: 200px;
    padding: 0;
    padding-top: 65px;
  }
  .ana-plant {
    border-radius: 0px;
  }
  .offer-right {
    font-size: 1.3rem;
  }
  .shop-now-right {
    font-size: 16px;
    text-align: center;
  }
  .footer {
    flex-direction: column;
    row-gap: 30px;
    justify-content: flex-start;
    margin: 0px 16px;
    margin-bottom: 50px;
  }
  .social-links {
    align-items: center;
  }
  .input-email {
    width: 55%;
  }
  .input-banner {
    width: 100%;
    height: 300px;
  }
  .input-banner-title {
    font-size: 30px;
    padding-top: 70px;
    margin-left: 16px;
    margin-right: 16px;
  }
  .join-button {
    padding: 26px 20px 26px 20px;
  }
}
